.title-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 80%;
  gap: 10px;
  padding: 10px;
}

.heading-color {
  color: #a12d5d;
}

.button {
  background-color: #a12d5d;
  border-radius: 8px;
  border-color: #a12d5d;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50%;
  font-size: 16px;
}

.container {
  margin: 0 30%;
}
